.logo1 {
    width: 200px;
    /*margin-left: -50px;*/
}

.header-list{
    float: left;
}

.header-list li{
    list-style: none;
    float: left;
    padding: 10px;
    font-size: 20px;
    flex: 10px;
}

.name li{
    list-style: none;
    clear: both;
}

.nia{
    position: relative;
    background-image: url("../image/nia_profile.png");
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: 100vw, auto, contain;
    height: 2500px;
    width: 100%;
    margin: auto;
    /* background-position: center; */
}

.nia-text{
    position: absolute;
    padding-top: 15%;
    padding-left: 10%;
    /* left: 20%; */
    font-size: 2.5vw;
}