.logo1 {
    width: 200px;
    /*margin-left: -50px;*/
}

.header-list{
    float: left;
}

.header-list li{
    list-style: none;
    float: left;
    padding: 10px;
    font-size: 20px;
    flex: 10px;
}

.name li{
    list-style: none;
}

.nia-profile{
    height: 1300px;
    margin: auto;
}

.plofile{
    position: relative;
}

.nia-text{
    position: absolute;
    top: 300px;
    left: 300px;
    font-size: 20px;
}