.logo1 {
    width: 200px;
    /*margin-left: -50px;*/
}

.header-list{
    float: left;
}

.header-list li{
    list-style: none;
    float: left;
    padding: 10px;
    font-size: 20px;
    flex: 10px;
}

.name li{
    list-style: none;
    clear: both;
}

.nia{
    position: relative;
    background-image: url("../image/nia_profile.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100vw, auto, contain;
    width: 100%;
}

.nia-text{
    position: absolute;
    padding-top: 15%;
    padding-left: 7%;
    font-size: 2.5vw;
}

.aya{
    position: relative;
    background-image: url("../image/aya_profile.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100vw, auto, contain;
    width: 100%;
}

.aya-text{
    position: absolute;
    padding-top: 15%;
    padding-left: 7%;
    font-size: 2.5vw;
}